
#luna{
    /* background: #ff0000; */
    height: 950px;
    margin-left: 450px;
   
}

.luna-homepage-container{
    background: #F8FAFD;
    border-radius: 10px;
    width: 760px; 
    height: 730px;
    padding: 50px;
    
}

.luna-logo{
    position: relative;

}
.l{
     position: absolute;
     top:20px;
     left:35px;
    
}
.luna-flex{
    position: relative;

}
.luna-name h2{
    
    width: 85px;
    height: 44px;


    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;



    color: #344062;

}
.luna-description h5{
    
    width: 98px;
    height: 17px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #8588A3;

}

.luna-homepage-container-header h4{
    
    width: 157px;
    height: 39px;


    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 163.5%;



    color: #58667E;

}
.luna-image{
    position: relative;
    top:-5px;
    height: 249px;
    width: 665px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.luna-image img{
   position: relative;
   top:7px;
   left:6px;
    width: 653px;
    height: 233px;



    /* background: url(.jpg), #C4C4C4; */
    border-radius: 5px;
}

.luna-sub-image {
    display: flex;
    /* padding-left:10px; */
    
}
.luna-sub-image img{
    margin: 0 4px;
    width: 158px;
}
.dog{
  position: absolute;  
  left:570px;
  top: -9px;
}
.abduct-luna-container{
    padding-top: 90px;
}
.luna-logo-contaner{
    display: flex;
}
.luna-logo-name{
    margin-left:17px ;
    margin-top: 7px;
}

.luna-name h2 {
    width: 45px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #344062;
}

.luna-description-container{
    background: white;
    padding: 30px;
    margin-top: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #8588A3;
}

.luna-gps-container{
    display: flex;
    width: 147px;
    height: 41px;
    padding: 10px;
    margin-top: 5px;
    background: #F0F6FF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
}
.gps-icon-img{
    margin-right: 4px;
}
.luna-adopt-btn button{
    width: 155px;
    height: 48px;
    margin-top: 20px;
    margin-left: -0px;
    
    background: #0D75FF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    outline: none;
}
.luna-adopt-btn button a{
    color: white;
    text-decoration: none;
    background: #0D75;
}

.luna-modal{
    display: none;
    position:fixed;
    z-index:1;
    width:100%;
    top:0;
    height:100%;
    overflow:auto;
    background:rgba(0,0,0,0.1);  
}
.luna-modal-container{
    position: absolute;
    width: 471px;
    height: 319px;
    left: 539px;
    top: 216px;
    padding: 100px;
     z-index: 66;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    animation-name:modalopen;
    animation-duration:2s;
}


.luna-header-container-text h5{
    
    width: 286px;
    height: 58px;
 
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #344062;
}
.luna-header-container-text span{
  color: #F15827;
}
.blue-btn  button{
    position: absolute;
    width: 124px;
    height: 46px;
     left: 100px;
    top: 200px;

    background: #0D75FF;
    border-radius: 5px;
    }
    
.grey-btn a button{
    position: absolute;
    width: 124px;
    height: 46px;
    left: 240px;

    top: 200px;
    color: #58667E;
    background: #F3F5FB;
    border-radius: 5px;
    }
    .grey-btn a button :hover{
        cursor: pointer;
    }
    @keyframes modalopen{
        from{opacity:0}
        to{opacity:1.2}
    }
    @media screen  and (max-width:768px){
        #navbar {
            overflow-x: hidden;
            
          }
          .nav-content {
            margin: 0 25px;
          }
          ul {
            width: 700px;
          }
          li {
            width: 800px;
          }
          .find {
            margin-left: 40px;
          }
          .report {
            position: relative;
            left: -140px;
          }
        
          .btn {
            position: absolute;
            left: 638px;
          }
          #luna{
            /* background: #ff0000; */
            height: 950px;
            margin-left: 10px;
           
        }
        #footer {
            width: 100%;
            height: 850px;
            overflow-x: hidden;
            position: relative;
            margin-bottom: 50px;
        }
        
        .footer-content {
            margin: 0 25px;
        }
    
        .first_shape{
            position: relative;
            left: -28px;
        }
    
        .first-shape {
            position: relative;
            top: 90px;
            left: -24px;
        }
    
        .second-shape img{
            position: relative;
            right: 40px;
            top: 80px;
        }
       
        .center-heading {
            position: relative;
            top: 80px;
        }
        .logo-link {
            position: relative;
            top: 70px;
        }
    
        .center-container button {
            margin-top: 100px;
        }
    .footer-last-container{
        margin-left: 100px;
    }
        .social-media-img {
            position: relative;
            left: -10px;
            top: 70px;
        }
    
        .copy-right {
            position: relative;
            left: -150px;
            top: 40px;
        }
    
        .privacy{
            position: relative;
            top: 100px;
            right: 700px;
            font-size: 10px;
            
        }
        
        .luna-modal-container{
            position: absolute;
            width: 471px;
        
            height: 319px;
            left: 109px;
            top: 216px;
             z-index: 66;
        }
        .luna-header-container-text h5{
            position: relative;
            top:-5px;
        }
        
    }
    @media screen  and (max-width:500px){
       
        
        

        #navbar {
            height: 80px;
            /* width: 395px;
            overflow-x: hidden; */

        }
        .nav-content {
          margin: 0 15px;
        }
        .nav-logo img {
            position: absolute;
            top: 25px;
        }
        .nav-logo span img {
            position: relative;
            top: 38px;
        }
        .luna-homepage-container-header h4{
            margin-left: 50px;
        }
    
        .nav-logo h5 {
            position: relative;
            top: 10px;
        }
    
        ul {
          display: none;
        }
    
        .btn {
          position: absolute;
          left: 50px;
        }
        .bgsmartPhone{
          display: none;
        }
    
        /* hamburger */
        .bar-menu {
            position: absolute;
            right:34px;
            top: 50px;
            display: block;
        }
    
        /* hamburger closeBtn */
        .closeMenu {
            position: absolute;
            right: 34px;
            top: 50px;
            /* display: block; */
        }
    
        .bgsmartPhone {
            background: #fff;
            height: 80px;
            width: 890px;
            position: absolute;
            top: 98px;
            left: -10px;
            z-index: 66;
            /* display: none; */

        }
        #luna{
            position: absolute;
            height: 750px;
            /* width:895px; */
            width: 395px;
            /* height: 1005px; */
            overflow-x: hidden;
            /* overflow-y:scroll ; */
            /* bottom: 300px; */
        }
        .luna-homepage-container{
            background: #F8FAFD;
            border-radius: 10px;
            width: 360px; 
            height: 1005px;
            padding: 30px;
            
        }
        .luna-name h2{
    
            width: 35px;
            height: 24px;
        
        
            font-family: Inter;
            font-style: normal;
            font-weight: 200;
            font-size: 16px;
            line-height: 24px;
        
        
        
            
        
        }
        .luna-image{
    
        padding-left: -30px;
        height: 149px; 
        width: 310px;
        /* margin-left: 90px; */
        /* background: none; */
        /* border: none; */
         
        
    
        }
        .luna-image img{
            position: relative;
            top:7px;
            left:20px;
             width: 273px;
             height: 133px;
         
         
         
             /* background: url(.jpg), #C4C4C4; */
             border-radius: 5px;
         }
        .luna-sub-image{
            display: block;
            margin-left: 80px;
        }
        
        .luna-description-container{
            padding-left: 40px;
            height: 320px;

        }
        /* .luna-description-container-paragraph {
            font-size: 8px;
        } */
        .luna-description-container-header {
            margin-left: 80px;

        }
        .luna-adopt-btn button{

            position:relative;
            bottom:68px;
            left:40px;
            color:white;
            height:38px;

        }
        #footer {
            width: 395px;
            position: absolute;
            top: 740px;
            height: 850px;    
            /* bottom:0; */
            overflow-x: hidden;
            /* overflow-y:scroll ; */
        }
        .center-heading{
            position: relative;
            left: -130px;
            font-size: 34px;
        }
        .center-container button{
            position: relative;
            left:-140px;
            height: 40px;
            width: 120px;
        }
        .footer-last-container{
            display: block;
        }
        .privacy{
            position: relative;
            left: -10px;
        }
        .copy-right{
            position: relative;
            left:-350px;
            top:100px;
        }
        
        .luna-modal-container{
            position: absolute;
            width: 350px;
            padding-top: 70px;
            padding-left: 30px;
            height: 219px;
            left: 13px;
            top: 216px;
             z-index: 66;
        }
        .blue-btn button{
            position: relative;
            left:20px;
            top: 20px;
            color: white;
        }
        .grey-btn a button{
            position: relative;
            left:155px;
            top: -24px;  
        }

             
      }
    